@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@black: #222222;

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: @black;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.topimgblock {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar {
  background-color: @black;
  position: sticky;
  top: 0;
  z-index: 3;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.navbar__links {
  display: flex;
  align-items: center;
  list-style-type: none;
  a {
    padding: 24px;
    display: block;
    color: white;
    transition: 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}
.about-as {
  padding: 70px 0;
  .container {
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-gap: 80px;
  }
}

.about-as__image {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 380px;
}
.about-as__title {
  font-family: Caveat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}
.about-as__desc {
  color: lighten(@black, 30%);
  p {
    margin-top: 20px;
  }
}

.about-as__social {
  margin-top: 40px;
  display: flex;
  align-items: center;
  a {
    margin-right: 20px;
  }
}

.section__title {
  font-family: Caveat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
}
.portfolio__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 40px;
  padding: 10px;
}
.portfolio__item {
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  &:hover {
    opacity: 0.9;
  }
}

.portfolio__more {
  font-size: 20px;
  font-family: Caveat;
  margin: 0 auto;
  display: block;
  width: max-content;
  margin-top: 40px;
  text-decoration: underline;
  color: #0050c8;
}
.footer {
  background-color: #fff;
  padding: 40px 0;
  margin-top: 80px;
}
.footer__copyriht {
  text-align: center;
  color: lighten(@black, 50%);
}

.page {
  margin-top: 40px;
}

table {
  width: 100%;
  margin-top: 40px;
}

thead {
  background-color: @black;
  color: white;
  td {
    color: white;
  }
}

td {
  padding: 20px 40px;
}

tbody {
  tr {
    &:nth-child(odd) {
      background-color: #fff;
    }
  }
}

.apparat__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  margin-top: 40px;
}
.apparat__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apparat__item__img {
  width: 100%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.apparat__item__title {
  font-family: Caveat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-top: 20px;
}

.apparat__item__desc {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: lighten(@black, 50%);
  margin-top: 20px;
}
.model {
  form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
  }
}
form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 30px;
}
input {
  padding: 20px 30px;
  border: 1px solid lighten(black, 90%);
  outline: none;
  font-size: 16px;
  &:focus {
    border: 1px solid #0066ff;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  input {
    display: none;
    &:checked + .checkbox__box {
      background-image: url(../img/checkbox__box.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
.checkbox__box {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 1px solid lighten(black, 90%);
  margin-right: 15px;
}
button {
  outline: none;
  padding: 20px 30px;
  background-color: #0066ff;
  font-size: 16px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: lighten(#0066ff, 5%);
  }
}

.contacts {
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
    grid-gap: 15px;
    justify-items: center;
    margin-top: 40px;
    a {
      text-align: center;
      font-size: 20px;
    }
  }
  .about-as__social {
    justify-content: center;
  }
}

a {
  color: #0066ff;
}

.navbar__hamburger {
  padding: 20px;
  display: none;
  margin-right: -20px;
}

.mobile__navbar {
  width: 100%;
  height: 100%;
  background-color: @black;
  ul {
    line-height: 40px;
    a {
      font-size: 20px;
      color: white;
    }
  }
}
.fancybox-slide--html .fancybox-close-small {
  background-color: #fff;
}
