{% set title = 'Моделям' %} {% extends 'layouts/_main.html' %} {% block content
%}
<div class="contacts page">
  <div class="container">
    <div class="section__title">Контакты</div>
    <ul>
      <li><a href="tel:8 (951) 451-8479">8 (951) 451-8479</a></li>
      <li>
        <a href="mailto:hasenovkirill93@gmail.com">hasenovkirill93@gmail.com</a>
      </li>
    </ul>
    <div class="about-as__social">
      <a href="">
        <img src="img/vk.svg" alt="" />
      </a>
      <a href="">
        <img src="img/instagram.svg" alt="" />
      </a>
      <a href="">
        <img src="img/fb.svg" alt="" />
      </a>
    </div>
  </div>
</div>
{% endblock %}
