{% set title = 'Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}

<!--========================== portfolio ============================================-->
<div class="portfolio page">
  <div class="container">
    <div class="section__title">Портфолио</div>
  </div>
  <div class="portfolio__items">
    <!-- portfolio__item -->
    <a
      data-fancybox="gallery"
      data-src="img/1.jpg"
      href=""
      class="portfolio__item"
      style="background-image: url(img/1.JGP);"
    ></a>
    <!--END portfolio__item -->
    <!-- portfolio__item -->
    <a
      data-fancybox="gallery"
      data-src="img/2.jpg"
      href=""
      class="portfolio__item"
      style="background-image: url(img/2.JGP);"
    ></a>
    <!--END portfolio__item -->
    <!-- portfolio__item -->
    <a
      data-fancybox="gallery"
      data-src="img/3.jpg"
      href=""
      class="portfolio__item"
      style="background-image: url(img/3.JGP);"
    ></a>
    <!--END portfolio__item -->
    <!-- portfolio__item -->
    <a
      data-fancybox="gallery"
      data-src="img/1.jpg"
      href=""
      class="portfolio__item"
      style="background-image: url(img/1.JGP);"
    ></a>
    <!--END portfolio__item -->
    <!-- portfolio__item -->
    <a
      data-fancybox="gallery"
      data-src="img/2.jpg"
      href=""
      class="portfolio__item"
      style="background-image: url(img/2.JGP);"
    ></a>
    <!--END portfolio__item -->
    <!-- portfolio__item -->
    <a
      data-fancybox="gallery"
      data-src="img/3.jpg"
      href=""
      class="portfolio__item"
      style="background-image: url(img/3.JGP);"
    ></a>
    <!--END portfolio__item -->
    <!-- portfolio__item -->
    <a
      data-fancybox="gallery"
      data-src="img/1.jpg"
      href=""
      class="portfolio__item"
      style="background-image: url(img/1.JGP);"
    ></a>
    <!--END portfolio__item -->
    <!-- portfolio__item -->
    <a
      data-fancybox="gallery"
      data-src="img/1.jpg"
      href=""
      class="portfolio__item"
      style="background-image: url(img/2.JGP);"
    ></a>
    <!--END portfolio__item -->
  </div>
</div>
<!--==========================END portfolio =========================================-->
{% endblock %}
