{% set title = 'Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}

<!--========================== price =========================================-->
<div class="price page">
    <div class="container">
        <div class="section__title">Прайс-лист</div>
        <table>
            <thead>
                <tr>
                    <td>Услуга</td>
                    <td>Стоимость</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Фотосессия в фотостудии</td>
                    <td>3 000 руб</td>
                </tr>
                <tr>
                    <td>Фотосессия в фотостудии</td>
                    <td>3 000 руб</td>
                </tr>
                <tr>
                    <td>Фотосессия в фотостудии</td>
                    <td>3 000 руб</td>
                </tr>
                <tr>
                    <td>Фотосессия в фотостудии</td>
                    <td>3 000 руб</td>
                </tr>
                <tr>
                    <td>Фотосессия в фотостудии</td>
                    <td>3 000 руб</td>
                </tr>
                <tr>
                    <td>Фотосессия в фотостудии</td>
                    <td>3 000 руб</td>
                </tr>
                <tr>
                    <td>Фотосессия в фотостудии</td>
                    <td>3 000 руб</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--==========================END price ======================================-->

{% endblock %}
